<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>BlueShoes TabSet Example 1</title>

  <script type="text/javascript" src="../../../components/tabset/Bs_TabSet.class.js"></script>
  <link rel='stylesheet' href='../../../components/tabset/default.css'>
  <!--
  if you use the framework, you can use these lines instead:
  <script type="text/javascript" src="/_bsJavascript/components/tabset/Bs_TabSet.class.js"></script>
  <link rel='stylesheet' href='/_bsJavascript/components/tabset/default.css'>
  -->
  <script>
  function init() {
  	t = new Bs_TabSet('tabset');
  	t.addTab('Foo', document.getElementById('foo'));
  	t.addTab('Bar', document.getElementById('bar'));
  	t.addTab('Lalala', document.getElementById('lalala'));
  	t.draw();
  }
  </script>
</head>

<body onload="init();" bgcolor="#D6D3CE">
  
  <h1>BlueShoes TabSet Example 1</h1>
  
  <hr>
  Simple example of 3 Tabs. That's all. 
  <hr>
  
  <div id="tabset" style="background-color:menu;">
  	<div id="tabset_tabs"></div>
  	<div id="tabset_content" class="tabsetContentDiv">
  		<div id="foo">
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		foo foo foo foo foo foo foo foo foo foo foo <br>
  		</div>
  		<div id="bar">
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		bar bar bar bar bar bar bar bar bar bar bar <br>
  		</div>
  		<div id="lalala">
  		lalala lalala lalala lalala lalala lalala  <br>
  		lalala lalala lalala lalala lalala lalala  <br>
  		lalala lalala lalala lalala lalala lalala  <br>
  		lalala lalala lalala lalala lalala lalala  <br>
  		</div>
  	</div>
  </div>
  
</body>
</html>
