<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
</head>
<body leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="blue">
  <tr>
    <td><font face="arial" size="2" color="white"><b>BlueShoes Wysiwyg Toolbar</b></font></td>
    <td align="right" width="16"><img src="/_bsJavascript/components/wysiwyg/buttons/windows_undo.gif"  width="16" height="14" border="0" onClick="javascript:bs_edit_setOriginalValue(bs_edit_editPart); bs_edit_liveEditEnd();"></td>
    <td align="right" width="16"><img src="/_bsJavascript/components/wysiwyg/buttons/windows_save.gif"  width="16" height="14" border="0" onClick="javascript:bs_edit_setChangedValue(bs_edit_editPart); bs_edit_liveEditSave(); bs_edit_liveEditEnd();"></td>
    <td align="right" width="16"><img src="/_bsJavascript/components/wysiwyg/buttons/windows_close.gif" width="16" height="14" border="0" onClick="javascript:bs_edit_setChangedValue(bs_edit_editPart); bs_edit_liveEditEnd();"></td>
  </tr>
</table>
</body>
</html>
