body {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 14px;
	color : #999999;
}
td {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size   : 14px;
	color       : #999999;
}
a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size   : 14px;
	color       : #999999;
	text-decoration: none;
}
.nav0 {
	font-weight : bold;
  font-size: 14px;
  color: #808080;
}
