<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>BlueShoes Wysiwyg Editor Example 2</title>

<script type="text/javascript" src="../../../core/lang/Bs_Misc.lib.js"></script>
<script type="text/javascript" src="../../../core/html/Bs_HtmlUtil.lib.js"></script>

<script type="text/javascript" src="../../../components/tabset/Bs_TabSet.class.js"></script>
<link rel='stylesheet' href='../../../components/tabset/default.css'>

<script type="text/javascript" src="../../../components/editor/Bs_Editor.class.js"></script>
<script type="text/javascript" src="../../../components/editor/lang/en.js"></script>

<script type="text/javascript" src="../../../core/form/Bs_FormFieldSelect.class.js"></script>

<script type="text/javascript" src="../../../components/toolbar/Bs_ButtonBar.class.js"></script>
<script type="text/javascript" src="../../../components/toolbar/Bs_Button.class.js"></script>

<script>
if (moz) {
  document.writeln("<link rel='stylesheet' href='../../../components/toolbar/win2k_mz.css'>");
} else {
  document.writeln("<link rel='stylesheet' href='../../../components/toolbar/win2k_ie.css'>");
}

function init() {
	w = new Bs_Editor('w');
	
	//special settings only because we're not using the framework:
	w.hrefSelector        = new Array('../windowHref.html', 490, 350);
	w.imageSelector       = new Array('../windowImage.html', 525, 330);
	w.fgColorSelector     = new Array('../../../components/colorpicker/windowColor.html', 500, 600);
	w.fontSelector        = new Array('../windowFont.html', 420, 300);
	w.specialCharSelector = new Array('../windowSpecialChar.html', 450, 300);
	w.buttonsDefaultPath  = '../../../../images/buttons/';
	w.bsImgPath           = '../../../../images/';
	
  w.style = 'toolbar';
  var status = w.drawAsToolbar('editableArea', false);
  if (!status) alert('failed loading the toolbar!');
}
</script>

</head>

<body onLoad="init()">

<!--
<a href="javascript:void(0);" onclick="alert(w.getValue()); return false;">alert the current value</a>
<br><br>
-->

<h1>BlueShoes Wysiwyg Editor Example 2</h1>

<ul>
	<li>Basic example of the editor in "inline" mode.</li>
	<li>A tag in the page is set to editable.</li>
</ul>
<br><br>

<div id="editableArea" style="background-color:antiquewhite; border:1px solid gray;" contenteditable>
click here to edit this text once the page loaded.
</div>

</body>
</html>
